.hotelRooms-container {
    margin: 0 auto;
}

.room-card {
    background-color: white;
    width: 100%;
    border: 4px solid transparent; /* #e8614c46  when is selected*/
    border-radius: 5px;
    box-shadow: var(--lmn-ds-elevations-medium);
    padding: .6rem .8rem;
    margin: 1rem 0;
    cursor: pointer;
}

.roomName-container {
    display: flex;
    justify-content: space-between;
}

.radio {
    width: 1rem;
    height: 1rem;
}

.labelName {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.bestPrice {
    background-color: #f5fbee;
    color: #519200;
    padding: 3px 8px;
    border-radius: 4px; 
    font-size: 1.1rem;
}

.roomInfo-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: .5rem 0;
}

.boardName {
    color: var(--thm-black);
    font-weight: 600;
}

.cancel-info-container {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.cancelInfo {
    color: var(--thm-black);
}

.cancellation-icon {
    color: #519200;
}

.info-Icon {
    color: #8c8c92;
    font-size: 1rem;
}

.priceRoom-container {
    display: flex;
    flex-direction: column;
    line-height: normal;
    align-items: flex-end;
}

.priceRoom {
    color: var(--thm-primary);
    font-weight: 700;
    font-size: 1.5rem;
}

.totalPrice-info {
    font-size: .8rem;
    color: #8c8c92;
}

@media screen and (max-width: 798px) {
    .roomInfo-container {
            display: grid;
            grid-template-columns: 1fr;
        }
}

