.room-card {
    background-color: white;
    width: 100%;
    border: 4px solid transparent; /* #e8614c46  when is selected*/
    border-radius: 5px;
    box-shadow: var(--lmn-ds-elevations-medium);
    padding: .6rem;
    margin: 1rem 0;
    cursor: pointer;
}

.roomInfo-container {
    display: flex;
    justify-content: space-between;
}

.roomName-container {
    display: flex;
    justify-content: space-between;
}

.radio {
    width: 1rem;
    height: 1rem;
}

.labelName {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.bestPrice {
    background-color: #f5fbee;
    color: #519200;
    padding: 3px 8px;
    border-radius: 4px; 
}