.heroDetails-container {
    margin: 0rem auto;
    margin-top: 1.5rem;
}

.heroTitle-container h1 {
    margin-bottom: .5rem;
}

.hero-info {
    display: flex;
    gap: .5rem;
}

.hero-info > span {
    color: #dbdbdd;
}

.rating-hero {
    display: flex;
    align-items: center;
}

.category-icon {
    color: #ffaa06;
}

.address-hero {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--thm-black);
    
}


.heroImages-container {
    margin-top: .7rem;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: .6rem;
    position: relative;
}

.last-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .6rem;
    overflow: hidden;
}

.last-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
    overflow: hidden;
}




@media screen and (max-width: 768px) {
    .heroImages-container {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .hero-info {
        flex-direction: column;
        line-height: normal;
    }

    .hero-info > span {
        display: none;
    }

    .address-hero {
        align-items: first baseline;
    }

}