/* ///////// Marker ////////// */

.price-tag {
    /* background-color: red; */
    position: relative;
    height: 1rem;
    width: 1rem;


}

.price_marker {
    position: absolute;
    top: -91%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    min-width: 40px;
    border-radius: .5rem;
    color: #3c3c3c;
    font-size: 16px;
    padding: 6px 8px;
    font-weight: 700;
    white-space: noWrap;
    transform: translate(-50%, -50%);
    filter: drop-shadow(rgba(0, 0, 0, 0.04) 0px 4px 8px) 
        drop-shadow(rgba(0, 0, 0, 0.19) 0px 0px 2px) 
        drop-shadow(rgba(0, 0, 0, 0.341) 0px 0px 1px);
}

.price_marker::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
}


.bounce {
    animation-name: bounce;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 1.35s;
    background-color: #4286f4;
    color: #fff;
    z-index: 2;
}

.bounce::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #4285F4; 
}



@keyframes bounce {

    0% {
        transform: translate(-50%, -50%);
    }

    55% {
        transform: translate(-50%, -78%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}