.payment-section {
    background-color: white;
    border-radius: .5rem;
}

.header-method-payment {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding: 1rem;
    border-bottom: 1px solid #eaeaeb;
}

.header-method-payment h3 {
    font-size: 1.2rem;
}

.header-method-payment img {
    width: 108px;
    min-width: 100px;
    margin-left: .2rem;
}

.creditCard-container {
    padding: 1rem;
    display: flex;
    align-items: start;
    gap: .5rem;
    margin-top: 1rem;
}

.radio-payment {
    min-width: 20px;
    min-height: 20px;
}

.creditCard {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.creditDebit {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.creditDebit > span {
    font-size: .9rem;
    font-weight: 600;
}

.creditCards-images {
    display: flex;
    gap: .5rem;
    
}

.creditCards-images img {
    height: 20px;
    width: 30px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 400px;
    margin: 1.5rem 0 ;
}

.inputs-container input {
    width: 100%;
    height: 48px;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    padding: 14px 8px;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 20px;
    color: #080808;
    margin-top: .3rem;
}

.inputs-container input:focus-visible {
    outline: rgb(142, 142, 255) auto 1px;
}

.shorts-Inputs {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.exp-input{
    max-width: 147px;
}

.cvc-input {
    max-width: 100px;
}


.secure-images {
    display: flex;
    align-items: center;
    gap: 22px;
    overflow: hidden;
    /* margin-top: 1.5rem; */
}

.secure-images img:nth-child(1){
    width: 99px;
    margin-top: -24px;
    margin-bottom: -30px;
}

.secure-images img:nth-child(2) {
    height: 45px;
    margin-right: 3px;
}

.secure-images img:nth-child(3) {
    height: 34px;
}
