.travelers_container {
    position: relative;
    grid-area: persons;
}

.btn_travelers {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 15.5rem;
}

.text_btn_travelers {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

#icon_arrow_down {
    right: 0.5rem;
    left: auto;
    font-size: 2rem;
}


/* ######### POPOVER PANEL ABSOLUTE ######### */

.panel_travelers_container {
    position: absolute;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    min-width: 18.75rem;
    top: 100%;
    margin-top: .5rem;
    box-shadow: rgb(0 0 0 / 4%) 0px 10px 20px, rgb(0 0 0 / 4%) 0px 2px 10px, rgb(0 0 0 / 2%) 0px 0px 4px;
    z-index: 2;
}

.select_travelers_container {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

.border_style {
    border-top: 1px solid rgb(234, 234, 235);
    padding-top: 1rem;
}

.header_group {
    display: flex;
    justify-content: space-between;
    line-height: 1.25rem;
    color: rgb(60, 60, 60);
    font-weight: 700;
    font-size: 1.13rem;
    text-align: left;
}

.adults_set_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.info_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 12px;
    line-height: 1.5rem;
}

.description_adults {
    height: 1.5rem;
    line-height: 1.5rem;
    color: rgb(60, 60, 60);
}

.info_adults {
    text-align: left;
}

.couter_container {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    height: 1.5rem;
}

.btn_add {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    color: rgb(0 99 190);
    background: transparent;
    width: 1.7rem;
    height: 1.5rem;
    font-size: 1.3rem;
}

.adults_cant {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.2rem;
    color: rgb(60, 60, 60);
}

.btn_add_room_container {
    text-align: right;
}

.btn_add_room {
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    color: var(--thm-primary);
    background: transparent;
    transition: all 0.2s ease 0s;
}

        
/* ########## Popover children styles ########*/

.children_set_container {
    position: relative;
    overflow: visible;
    height: 3.25rem;
}

.btn_display_panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 16px;
    border: 0px;
    border-radius: 8px;
    background: rgb(245, 245, 245);
    cursor: pointer;
    outline: none;
}

.btn_display_panel > span {
    color: rgb(140, 140, 146);
    font-size: 1.1rem;
}

.icon_arrowDawn_container {
    font-size: 1.2rem;
    width: 1.2rem;
    height: 1.2rem;
}

.chouse_age_container {
    position: absolute;
    overflow: hidden;
    top: 0px;
    width: 100%;
    left: 0px;
    background: #fff;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 4%) 0px 10px 20px, rgb(0 0 0 / 4%) 0px 2px 10px, rgb(0 0 0 / 2%) 0px 0px 4px;
    z-index: 2;
}

.age_list {
    display: block;
    overflow: auto;
    min-height: 3.25rem;
    max-height: 21.2rem;
    list-style-type: none;
    text-align: left;
}

.age_list li {
    padding: 0px 1.2rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.1rem;
    color: rgb(60, 60, 60);
    cursor: pointer;
    transition: color 0.2s ease 0s;
}

.age_list li:hover {
    background-color: rgb(245, 245, 245);
}

.age_list li:first-of-type {
    margin-top: .5rem;
    cursor: default;
    font-weight: 700;
    pointer-events: none;
}

/* ########## Child  show age ########*/

.child_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
    line-height: 1.5rem;
}

.age_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.age_container span:first-of-type {
    color: rgb(60, 60, 60);
}

.delete_icon_conatiner {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    height: 1.8rem;
    width: 1.8rem;
}

.delete_icon_conatiner button {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: rgb(128, 128, 128);
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .btn_travelers {
        min-width: 100%;
    }
}