header {
    width: 100%;
    height: 65px;
    position: relative;
    background-color: white;  
}

.header-area {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.brand-container {
    display: flex;
    align-items: center;
    height: 38px;
}

.brand-container > img {
    height: 100%;
    object-fit: cover;
}

.navbar-main {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    gap: 1.4rem;  
}

.menu-list a {
    height: 67px;
    font-weight: 500;
    color: var(--thm-black);
    display: flex;
    align-items: center;
    border: 3px solid transparent;
    border-radius: 4px;
    transition: var(--trasition);
}

.menu-list a:hover {
    color: var(--thm-primary);
    border-bottom: 3px solid var(--thm-primary);
}

.activeLink[data-active] {
    color: var(--thm-primary);
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem; 
    gap: 1.5rem; 
}

.icons-styles {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: var(--thm-primary);
    cursor: pointer;
    transition: var(--trasition);
}

.user-icon {
    border: 2px solid var(--thm-primary);
    border-radius: 50%;
}

.user-icon:hover {
    background-color: var(--thm-primary);
    color: white;
}

.menu-icon {
    font-size: 2.3rem;
    margin-right: .5rem;
    display: none;
}


@media screen and (max-width: 834px) {

    .menu-list {
        display: none;
    }

    .menu-icon {
        display: block;
    }
    
    .icons-container {
        margin-left: 2rem;
    }

}