
.slider_container {
    height: 100%;
    width: auto;
    position: relative;
    overflow: hidden;
}

.slides_styles {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    /* overflow: auto; */

    transform: translate3d(0, 0, 0);
    transition: transform 600ms;

}

.slides_styles > img {
    width: 100%;
    min-width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}

.arrow_styles {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #fff;
    font-size: 100%;
    opacity: .4;
    display: none;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
}

.arrow_styles:hover {
    opacity: 1;
    transform: translate(0, -50%) scale(1.1);
}

.arrow_right {
    right: 0;
    margin-right: 1rem;
}

.arrow_left {
    left: 0;
    margin-left: 1rem;
}


/* //////////// Jumping Points //////////// */

.points_container {
    position: absolute;
    bottom: 0.5rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* max-height: .6rem; */
}

.dot_container {
    max-width: 6rem;
    padding-left: calc(50% - 0.7rem);
    display: flex;
    gap: .5rem;
    align-items: center;
    transform: translate3d(0, 0, 0);
    transition: transform 700ms; 
}

.dot {
    min-width: .6rem;
    height: .6rem;
    background-color: rgba(255, 255, 255, 0.546);
    border-radius: 50%;
    transition: min-width 100ms;
}

.current {
    min-width: 1.4rem;
    border-radius: .3rem;
    background-color: #fff;
    transition: min-width 300ms;
}
