.hotelDescription-container {
    line-height: 28px;
    margin: 2.5rem auto;    
}

.description {
    padding: 1rem;
    background-color: white;
    border-radius: .5rem;
}

.description h3 {
    margin-bottom: .7rem;
}