.color-body{
    background-color: #f9f8f8;
    padding-bottom: 4rem;
}

.checkout-container {
    display: grid;
    grid-template-columns: 1fr 38%;
    gap: 1rem;
    margin: 0 auto;
    padding-top: 2rem;
    line-height: normal;
    color: var(--thm-black);
}

.checkout-container main {
    grid-column: 1;
    grid-row: 1;
    
}

.checkout-container aside {
    position: relative;
    grid-column: 2;
}

.payment-verify {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    width: 350px;
    height: 230px;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    margin: 0 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(92, 91, 91);
}

@media screen and (max-width: 786px) {
    .checkout-container {
        grid-template-columns: 1fr;
    }

    .checkout-container aside {
        grid-column: auto;
    }

    .checkout-container main {
        grid-row: auto;
        color: rgba(255, 255, 255, 0.575);
    }
}