
.different-home {
    background-color: var(--thm-black);
    padding: 3.5rem 0;
    position: relative;
}

.different-home  p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #a9a8b6;
}

.different-home > p {
    text-align: center;
}

.section-whyus-container {
    position: relative;
    width: 100%;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
}

.different-home h3 {
    color: white;
}

.box-marker {
    position: absolute;
    background-color: var(--thm-primary);
    height: 100%;
    width: .8rem;
    top: 0;
    bottom: 3rem;
    left: 0;
    border-radius: 0 .5rem .5rem 0;
}

.different-home h2 {
    margin-bottom: 20px;
    color: white;
}

.reasons-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    margin-top: 30px;
    position: relative;
}

.reason-container {
    display: flex;
    flex-direction: row;
}

.reason-container > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    
}

.reason-content p {
    margin-top: .8rem;
}

.icon-reasons {
    margin-right: 14px;
    color: var(--thm-primary);
    font-size: 65px;
}

.imgMap-container {
   background-image: url(../../../../assets/why-choose-right-map.png);
    position: absolute;
    bottom: 0;
    right: 0;
    height: 500px;
    width: 434px;
    opacity: .1;
}


@media screen and (max-width: 1150px) {
    .different-container > p {
        width: 100%
    }
}