
.secondary-navbar-container{
    width: 100%;
    height: 56px;
    position: relative;
    background-color: #e8614c;
    box-shadow: 0 1px 3px 0 #e8614c78;
}


/* The rest of the styles are in css of the main navbar */



