footer {
    width: 100%;
    background: var(--thm-black);
    padding-top: 3.7rem;
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    color: #9796a2;
    font-size: 1rem;
}


.copy-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgba(160, 158, 158, 0.5);
    padding: 0.9rem 0;
}

.copy-container span {
    font-size: .9rem;
}

.social-icons .icon {
    margin-left: 10px;
    cursor: pointer;
    color: var(--thm-primary);
}

.social-icons .icon:hover {
    color: #fff;
}

.sections-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 1rem;
    row-gap: 2rem;
    margin-bottom: 1.5rem;
}

.footer-list-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-list-container div > img{
    height: 2.3rem;
    margin-bottom: .5rem;
}

.footer-list-container a {
    color: #9796a2;
    margin-bottom: 0.4rem;
    position: relative;
    transition: all .4s ease;
}

.footer-list-container a:hover {
    color: white;
    padding-left: 14px;
}

.footer-list-container a:hover::before {
    opacity: 1;
}

.footer-list-container a::before {
    content: '';
    width: 8px;
    height: 3px;
    background-color: var(--thm-primary);
    position: absolute;
    border-radius: 2px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0;
    transition: all .5s ease;
}

.footer-list-container h3 {
    margin-bottom: 1rem;
    font-weight: 600;
    color: white;
}

.footer-list-container>ul>li {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

#contact li>span {
    margin-left: 10px;
}

.icons-contact-footer {
    color: var(--thm-primary)
}

#contact li {
    min-width: 15rem;
    display: block;
    margin-bottom: 0.5rem;
}

.companyName {
    color: var(--thm-primary);
}


/* ============ Media queries (Smal devices) =============== */
@media screen and (max-width: 792px) {
    .footer-list-container {
        justify-content: flex-start;
    }

    .show-copy {
        display: none;
    }
}