.destination-container {
    position: relative;
    width: 100%;
}

.autocomplete-container {
    position: relative;
    width: 100%;
    background-color: var(--thm-gray-form);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.autocomplete-input {
    position: relative;
    display: block;
    width: 100%;
    height: 2.6rem;
    padding: 0 3rem;
    background-color: transparent;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 0.96rem;
    font-weight: 700;
    cursor: pointer;
}

.autocomplete-input:focus {
    box-shadow: rgb(0 99 190) 0px 0px 0px 2px inset;
}

.icon-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    color: rgb(140, 140, 146);
}

.bed-icon-conatiner {
    left: 0.5rem;
    position: absolute;
    font-size: 1.7rem;
}

.close-icon-container {
    right: 0.5rem;
    position: absolute;
    cursor: pointer;
}

.combobox-cancel {
    border-radius: 50%;
    border: none;
    background-color: rgb(140, 140, 146);;
    color: var(--thm-base);
}

/* ############ List-ComboBox ############ */

.combobox-list {
    position: absolute;
    overflow: auto;
    /* min-width: 450px; */
    width: 100%;
    max-height: 550px;
    margin-top: 0.25rem;
    padding: 0.5rem;
    background-color: var(--thm-base);
    border-radius: 1rem;
    border: 0px solid transparent;
    box-shadow: rgb(0 0 0 / 4%) 0px 10px 20px,
        rgb(0 0 0 / 4%) 0px 2px 10px,
        rgb(0 0 0 / 2%) 0px 0px 4px;
    z-index: 2;
}

.combobox-list > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: rgb(60, 60, 60);
    padding: 0.75rem 1rem;
    cursor: pointer;
    border-radius: var(--thm-border-radius);
}

.combobox-item:hover {
    background-color: var(--thm-gray-form);
}

.combobox-item:hover .icon-list-conatiner {
    background-color: var(--thm-base);
}

.combobox-item[data-active-item] {
    background-color: var(--thm-gray-form);
}

.combobox-item[data-active-item] .icon-list-conatiner {
    background-color: var(--thm-base);
}

.icon-list-conatiner {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 0.75rem;
    padding: 0.5rem;
    background-color: var(--thm-gray-form)
}

.text-list-container {
    font-size: 1rem;  
}